@using OnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table class="table table-hover" style="margin-top:20px">
    <tr>
        <th>Seri Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Yeni Kalem</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.FaturaSeriNo @k.FaturaSıraNo</td>
            <td>@k.VergiDairesi</td>
            <td>@k.Tarih</td>
            <td>@k.Saat</td>
            <td>@k.TeslimEden</td>
            <td>@k.TeslimAlan</td>
            <td>@k.Toplam ₺</td>
            <td><a href="/Fatura/FaturaGetir/@k.FaturaID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-dark">Detay</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-info">Kalem</a></td>
        </tr>
    }
</table>

<a href="/Fatura/FaturaEkle" class="btn btn-info" style="display: inline-block;">Yeni Fatura Girişi</a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" style="display: inline-block; margin-left: 10px;">Popup Penceresi</button>


<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup Diyalog Ekranı</h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar</td>
                    </tr>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.FaturaSeriNo</td>
                            <td>@x.FaturaSıraNo</td>
                            <td>@x.Toplam</td>
                        </tr>
                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
            </div>
        </div>
    </div>
</div>



